body {
  font-family: 'Open Sans';
  scroll-behavior: smooth;
  margin: 0em;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  background-image: url('../images/BackgroundGrid.svg');
}

main {
  width: 100%;
  padding-bottom: 250px;
  /* margin-top: 8em; */
}

a {
  color: #B31B1B;
  text-decoration: none;
}

p {
  margin: 0em;
  padding: 0em;
}

.navhidden {
  display: none;
}


h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 120px;
  margin: 0em;
}

h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 40px;
  margin: 0em;
}

h3 {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 40px;
  margin: 0em;
}

h4 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 30px;
  margin: 0em;
}

h5 {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 18px;
  margin: 0em;
}

p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 30px;
  color: #001436;
}

.section-header {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* desktop top navbar */
#top-navbar {
  background-color: #F2F2F2;
  height: 55px;
  border-style: solid;
  border-width: .015px 0px .05px 0px;
  border-color: rgb(219, 219, 219);
  /* position: fixed; */
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 500;
}

#top-navbar-logo {
  width: 125px;
  margin-left: 3em;
  margin-top: .25em;
}

#navbar-links-container {
  float: right;
  margin-right: 3em;
  padding-top: 15px;
  padding-bottom: 15px;
}

#navbar-links-container a {
  text-decoration: none;
  font-size: 14px;
  padding-right: 15px;
  padding-left: 15px;
}

/* highlight link of current page */
.onThisPage {
  color: #B31B1B;
  font-weight: bold;
}

.notOnThisPage {
  color: black;
  font-weight: bold;
  /* color: #777; */
}

.notOnThisPage:hover {
  color: black;
}

/* desktop bottom navbar */
#bottom-navbar {
  background-color: #F2F2F2;
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-width: .1px 0px .1px 0px;
  border-color: rgb(219, 219, 219);
}

#waves-img {
  width: 100%;
  height: 75px;
  position: absolute;
  bottom: 0%;
}

#bottom-navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


#footer-logo {
  width: 125px;
  position: absolute;
  left: 80%;
  bottom: 10%;
}

#fb-logo {
  width: 100px;
  position: absolute;
  left: 10%;
  bottom: 15%;
  /* z-index: 3; */
}

#insta-logo {
  width: 100px;
  position: absolute;
  left: 30%;
  bottom: 10%;
}

#linkedin-logo {
  width: 100px;
  position: absolute;
  left: 50%;
  bottom: 10%;
}

#youtube-logo {
  width: 100px;
  position: absolute;
  left: 65%;
  bottom: 10%;
}


@media (max-width: 900px) {
  /* mobile top navbar */

  #navbar-links-container {
    margin-right: .8em;
  }

  #navbar-links-container a {
    font-size: 14px;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }


}



/* hide mobile top navbar when window is resized */
@media (min-width: 750px) {
  #hamburger-icon {
    display: none;
  }
}


@media (max-width: 750px) {

  #top-navbar {
    position: static;
  }

  /* mobile top navbar */
  #mobile-top-navbar {
    background-color: #F2F2F2;
    height: 295px;
  }

  main {
    padding-bottom: 300px;
    /* margin-top: 4em; */
  }

  .section-header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }


  #hamburger-icon {
    display: initial;
    float: right;
    height: 30px;
    margin-right: 1em;
    margin-top: .55em;
  }

  #hamburger-icon:hover {
    cursor: pointer;
  }

  #navbar-links-container {
    display: none;
  }

  .mobile-navbar-links-container {
    display: flex;
    flex-direction: column;
    padding-top: .25em;
  }

  #mobile-navbar-links-container a {
    text-decoration: none;
    font-size: 14px;
    margin-left: 1em;
    padding-top: .82em;
    padding-bottom: .82em;
  }

  #bottom-navbar {
    height: 200px;
  }

  #waves-img {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0%;
  }
  
  #footer-logo {
    width: 125px;
    position: absolute;
    left: 80%;
    bottom: 10%;
  }
  
  #fb-logo {
    width: 100px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    /* z-index: 3; */
  }
  
  #insta-logo {
    width: 100px;
    position: absolute;
    left: 30%;
    bottom: 10%;
  }
  
  #linkedin-logo {
    width: 100px;
    position: absolute;
    left: 50%;
    bottom: 10%;
  }
  
  #youtube-logo {
    width: 100px;
    position: absolute;
    left: 65%;
    bottom: 10%;
  }
}

@media (max-width: 620px) {

  /* mobile bottom navbar */
  #bottom-navbar {
    background-color: #F2F2F2;
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-width: .1px 0px .1px 0px;
    border-color: rgb(219, 219, 219);
  }
  
  #waves-img {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0%;
  }
  
  #footer-logo {
    width: 100px;
    position: absolute;
    left: 80%;
    bottom: 5%;
  }
  
  #fb-logo {
    width: 75px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    /* z-index: 3; */
  }
  
  #insta-logo {
    width: 75px;
    position: absolute;
    left: 30%;
    bottom: 10%;
  }
  
  #linkedin-logo {
    width: 75px;
    position: absolute;
    left: 50%;
    bottom: 10%;
  }
  
  #youtube-logo {
    width: 75px;
    position: absolute;
    left: 65%;
    bottom: 10%;
  }

  /* #footer-logo {
    width: 4em;
  } */

}

/* desktop screens */
@media (min-width: 1200px) {

  /* bottom navbar */  
  #waves-img {
    width: 100%;
    height: 75px;
    position: absolute;
    bottom: 0%;
  }
  
  #footer-logo {
    width: 150px;
    position: absolute;
    left: 80%;
    bottom: 10%;
  }
  
  #fb-logo {
    width: 150px;
    position: absolute;
    left: 10%;
    bottom: 10%;
    /* z-index: 3; */
  }
  
  #insta-logo {
    width: 150px;
    position: absolute;
    left: 30%;
    bottom: 10%;
  }
  
  #linkedin-logo {
    width: 150px;
    position: absolute;
    left: 50%;
    bottom: 10%;
  }
  
  #youtube-logo {
    width: 150px;
    position: absolute;
    left: 65%;
    bottom: 10%;
  }

}

/* large desktop screens */
@media (min-width: 1800px) {

  /* bottom navbar */
  #footer-logo {
    bottom: 10%;
  }

  #follow-us {
    margin-left: 20em;
  }
}