#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.mapboxgl-map {
  z-index: 2;
}

.mapboxgl-popup-content {
  width: 350px;
  left: -50px;
  height: 100%;
  overflow: hidden;
}

/* .Name {
  font-size: 15px;
} */

.Title {
  position: relative;
  margin: auto;
}

a {
  outline: none;
}

.linkedin-logo {
  position: relative;
  top: 2px;
  left: 2px;
  height: 12px;
  width: auto;
}
