#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.mapboxgl-popup-content {
  width: 350px;
  left: -50px;
}

/* .Name {
  font-size: 15px;
} */

.Title {
  position: relative;
  margin: auto;
}
