/* body{
    background-image: none;
  }
   */
   #page-header{
    margin-top: 3.5em;
    background: linear-gradient(to right, #ff1410, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  #hero-image{
    background: url(../images/GivingDay/p2.jpeg);
    background-size: cover;
    height: 70vh;
  }


  .donation-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    padding-left: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -11%;
    margin-bottom: -2%;
    background-color: #323232;
    width: 400px;
    height: 15%;
    float: auto;
  }

  #giving-day-header {
    margin-top: 0.5em;
  }

  #giving-day-button-section{
    padding-top: 15px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
  }
  
  .giving-day-button{
    color: black;
    border: 2px solid #ffffff;    
    padding: 15px 32px;
    text-align: center;
    margin: 0px 20px;
    transition-duration: 0.3s;
    border-radius: 50px;
  }


  .giving-day-button:hover {
    background-color: #ffffff; 
  }

  .giving-day-button:hover .giving-day-button-text {
      color: #323232; 
  }

  .giving-day-button-text{
    font-size: 20px;
    color: white;
  }

  #help-out-header{
    margin-top: 5%;
  }

  /* .intro{
    width: 75%;
    font-weight: normal;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    max-width: 1000px;
    font-size: 1.5vw;
  } */
  
  /*
  #intro-text {
    font-size: 20px;
  }
    */
  
  .section-description{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2vw;
  }

  #goals-header{
    margin-top: 2em;
  }

  #goalcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #image{
    margin-left: 400px;
    max-width: 900px;
    max-height: 600px;
  }

  .giving-day-card{
    background: #323232;
    box-shadow: 4px 6px 10px -2px rgba(0, 0, 0, 0.4);
    width: 35%;
    height: 70%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .giving-day-card p{
    justify-content: center;
    padding: 20px; 
    height: 100%;
  }

  .giving-day-card img{
    width: 100%;
  }

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    gap: 5%;
  }
  
  .i1 {
    width: 65%;
    margin: auto;
    justify-content: center;
    /*margin: 8rem auto 2rem auto;
    */
    max-width: 600px;
    max-height: 700px;
    display: block;
  }

  #i2 {
    width: 40%;
    margin-left: 20em;
    max-width: 500px;
    max-height: 700px;

  }

  #watertube{
    margin-left: 2rem;
    width: 25%;
  }

  #goaldescription{
    margin-bottom:20em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goal{
    margin-top: 2em;
    text-align: left;
    /* margin-left: 2em; */
    /* max-width: 750px; */
    width:90%
  }

  .description{
    text-align: left;
    /* margin: 1em 10em 0 10em; */
    font-size: 20px;
    width: 80%
  }
  
  @media (max-width: 650px){
  
  #donor-levels-container{
    flex-direction: column;
    align-items: center;
  }


  
  .section-description {
    width: 85%;
  }
  
  
  main{
    margin-bottom: 5em;
  }
  }
  

