/* body{
    background-image: none;
  }
   */
  #page-header{
    margin-top: 3.5em;
    background: linear-gradient(to right, #ff1410, #2196f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #intro{
    width: 75%;
    font-weight: normal;
    text-align: center;
    margin: auto;
    max-width: 1000px;
  }
  
  #intro-text {
    font-size: 20px;
  }

  #intro2{
    width: 40%;
    font-weight: normal;
    text-align: left;
    margin: 4em 6em auto .5em;
    max-width: 900px;
  }

  #intro3{
    width: 30%;
    font-weight: normal;
    text-align: right;
    margin: -13em 6em auto 5em;
    max-width: 900px;
  }
  
  #button-container{
    text-align: center;
    margin: auto;
    margin-top: 8em;
    margin-bottom: 2em;
  }
  
  button{
    width: 15em;
    height: 3em;
    border-radius: 100px;
    border: 2px solid #B31B1B;
    font-size: 25px;
    font-weight: bold;
    color: #B31B1B;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
  }
  
  button:hover{
    background-color: #B31B1B;
    color: rgb(153, 133, 133);
  }

  #goals-header{
    margin-top: 2em;
  }

  #goalcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  #image{
    margin-left: 400px;
    max-width: 900px;
    max-height: 600px;
  }

  #i1 {
    width: 65%;
    margin: 2rem auto 2rem 12em;
    max-width: 450px;
    max-height: 525px;
    display: block;
  }

  #i2 {
    width: 40%;
    margin: .5rem 12em 2rem auto;
    max-width: 500px;
    max-height: 700px;
    display: block
  }


  #watertube{
    margin-left: 2rem;
    width: 25%;
  }
  #goaldescription {
    margin-bottom: 20em;
    text-align: left; 
  }
  #images-container {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  

  .container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .container img {
    max-width: 100px;
    height: auto;
    margin-left: 8em;
  }

  #goaldescription{
    margin-bottom:20em;

  }

  #goal{
    margin-top: 2em;
    text-align: left;
    /* margin-left: 2em; */
    /* max-width: 750px; */
  }
  #description{
    text-align: left;
    margin: 1em 7em 0 0em;
    font-size: 17px;
  }
  
  @media (max-width: 650px){
  
  #donor-levels-container{
    flex-direction: column;
    align-items: center;
  }
  
  
  main{
    margin-bottom: 5em;
  }
  }
  
