@font-face {
  font-family: 'ElephantOutline';
  src: url("./../images/fonts/Elephant-Outline.otf") format('opentype');
}

#text-video-section{
  text-align: center;
  width: 60%;
  margin: auto;
}

#text-video-section h5{
  font-weight: normal;
  margin-bottom: 1em;
}

h4{
  margin-bottom: 3%; 
}

#team-photo-container{
  display:flex; 
  flex-direction: column;
  align-items: center;
}

#application-button-section{
  min-width: 350px;
  padding-top: 10px;
  padding-bottom: 50px;
  display:flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
}

.application-button{
  color: black;
  padding: 15px 32px;
  text-align: center;
  margin: 0px 20%;
  transition-duration: 0.3s;
  border-radius: 50px;
}

.application-button:hover{
  background-color: #ffffff;
}

#upperclassmen{
  border: solid white;
}

#upperclassmen:hover{
  background-color: #B31B1B;
}

#underclassmen{
  border: solid #ffffff;
}

#underclassmen:hover{
  background-color: #ffffff;
  color: #323232;
}

#underclassmen:hover .application-button-text {
  color: #323232;
}

.application-button-text{
  font-size: 20px;
  color: white;
}

.application-button-text:hover{
  color: #323232;
}

.information-sessions {
  display: inline-block;
  text-align: left;
}

#application-info-slides {
  margin-top: 2rem;
}

.application-container{
  text-align: center;
  width: 40%;
  padding: 2px;
  margin-top: -10%;
  background-color: #323232;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  margin-left: 30%;
  margin-right: 30%; 
  z-index: 10;
  position: relative;
  padding-bottom: 2%;
}

.application-container p {
  margin-bottom: 4%;
}

.iframe-container {
  max-width: 1000px;
  width: 100%; 
  aspect-ratio: 16 / 9;
  margin: 2rem auto 4em auto;
  position: relative;
  /* display: flex;
  justify-content: left;    */
}

.iframe-container iframe{
  width: 100%;
  height: 100%; 
  border: none; 
  position: absolute;
  top: 0;
  left: 0;
}

iframe{
  width:200px;
  height:315px;
  margin-bottom: 5em;
}

.questions-section{
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 1.5em;
  max-width: 1000px;
}

.questions-section h4{
  font-weight: normal;
  margin-bottom: 1em;
}

.question-container{
  height: 37px;
  background: #323232;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  transition: transform 0.3s ease;
}

.question-container h4{
  text-align: center;
}

.arrow{
  /* font-size: 1rem; */
  color: #ffffff;
  transition: transform 0.3s ease;
  font-size: 1.5rem;
  width: 8px;
  height: 8px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg); /* makes it point down */
  margin-right: 2%;
}

.question-container:hover{
  transform: scale(1.02);
}

.question-container.active span{
  transform: rotate(225deg);
}

.question-container p{
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  color: #ffffff;
}

.answer-container{
  margin-bottom: .3em;
  margin-top: .3em;
  /* background: #393939;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25); */
  margin-left: 3%;
  border-radius: 5px;
  display: flex;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}



.answer-container p{
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#team-photo-container{
    text-align: center;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 40%;
}

#team-photo{
  width: 75%;
  margin: auto;
  border: 1px solid black;
  max-width: 1000px;
  position: relative;
}

#coffee-chat{
  margin-top: 3em;
}

#fall-timeline{
  margin-top: 5%;
  width: 60%;
}

@media (max-width: 700px){
.question-container{
  height: 50px;
}

#fall-timeline{
  width: 100%;
}
}

@media (max-width: 600px){

#team-photo-container{
  margin-bottom: 10em;
}

#fall-timeline{
  width: 100%;
}

#text-video-section{
  width: 80%;
}

#application-button-section{
  flex-direction: column;
}

#team-photo-container{
  width: 100%;
}

.application-container{
  width: 90%;
}

}

@media (max-width: 350px){
.question-container{
  height: 75px;
}
}

