/*@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);*/

html {
  font-family: 'Libre Franklin', sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding-top: 50px;
  position: relative;
  min-height: 100%;
  padding-bottom: 300px;
  width: 100%;
}

.contain-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

h1 h2 h3 h4 p{
  color: black;
  font-family: 'Libre Franklin', sans-serif;
}

a.accordion-toggle .panel-title {
  color: black !important;
}

a.accordion-toggle .panel-title:hover {
  color: #b31b1b !important;
}

.navbar-default {
  background-color: #f2f2f2 !important;
}


.biocard {
  width: 300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 300px;
    text-align: center;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container-card {
    padding: 2px 16px;
    width: 300px;
    color: black;
    font-family: 'Libre Franklin', sans-serif;
}

/* entire container, keeps perspective */
/*.flip-container {
  perspective: 1000px;
}*/
  /* flip the pane when hovered */
  .flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  width: 300px;
  height: 300px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

.bio {
  margin-top: 30%;
  margin-right: 15px;
  margin-left: 15px;
  
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.subteams {
  font-family: 'Libre Franklin', sans-serif;
}

.subteams li {
  display: inline-block;
  padding-left: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #B31B1B;
  width: 20%;
}

.subteams a {
  color: #B31B1B;
  background-color: white;
  /*width: 100%;*/
}

.subteams li:hover {
  background-color: #B31B1B;
}

.mobilesubteam {
  display: none;
}

.p-5 {
  font-family: 'Libre Franklin', sans-serif;
}

.center {
  margin-left: 5%;
  /*margin-right: 5%;*/
  /*margin: auto;*/
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: transparent;
  color: black;
  transform: rotateY(180deg);
  font-family: 'Libre Franklin', sans-serif;
}


.faqHeader {
        font-size: 27px;
        margin: 20px;
        font-family: 'Libre Franklin', sans-serif;
        color: black;
    }

    a {
      color: black;
      font-family: 'Libre Franklin', sans-serif;
    }

    a:hover{
      color: #B31B1B;
      font-family: 'Libre Franklin', sans-serif;
    }

    /*a:link{
      color: black;
    }*/

    .panel-heading [data-toggle="collapse"]:after{
        /*font-family: "Times New Roman", Times, serif;*/
        /*content: "\f054"; /* "play" icon */*/
        float: right;
        color: black;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after{
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: black;
    }

    .sailvane3 {
      width: 400px;
      transform: rotate(90deg);
    }

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: #f2f2f2;
  text-align: center;
  color: #b31b1b;
  font-family: 'Libre Franklin', sans-serif;
}

.footerpic {
  margin-left: 30px;
  width: 100px;
}

.quicklinks a{
  font-family: 'Libre Franklin', sans-serif;
  color: #b31b1b;
  /*font-weight: bolder;*/
}
.quicklinks a:hover{
  color: black;
}

.footerheader {
  font-family: 'Libre Franklin', sans-serif;
  color: black;
  font-weight: bold;
}

.contactfooter {
  color: black;
  font-weight: bold;
}

.rowsmall {
  display: flex;
}

.columnsmall {
  flex: 25%;
  padding: 50px;
}


/*Boat Timeline CSS*/

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) and (max-width: 1199px) {
html {
  font-family: 'Libre Franklin', sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
body {
  padding: 50px;
  position: relative;
  min-height: 100%;
  padding-bottom: 900px;
  /*margin-bottom: 400px;*/
}

.splash {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.mobilesubteam {
  display: block;
}

.center {
  width: 100%;
  margin-left: auto;
  margin-right: 10px;
}
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Small Devices, Tablets */
@media (min-width: 768px) and (max-width: 991px) {
html {
  font-family: 'Libre Franklin', sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
body {
  padding-top: 50px;
  position: relative;
  min-height: 100%;
  padding-bottom: 900px;
  /*margin-bottom: 400px;*/
}

.splash {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/*.boatgraphic {
  width: 60%;
}*/
.center {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
html {
  font-family: 'Libre Franklin', sans-serif !important;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}
body {
  padding-top: 50px;
  position: relative;
  min-height: 100%;
  padding-bottom: 900px;
  /*margin-bottom: 400px;*/
}

.container-fluid {
  width: 100%;
  margin: 0px;
}

.splash {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.timeline {
  width: 90% !important;
}

.mobilesubteam {
  display: block;
}

.desktopsubteams {
  display: none;
}

.mobilesubteam li {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif !important;
  color: #B31B1B;
  font-size: 16px;
  font-weight: bold;
}

.mobilesubteam a{
  color: #B31B1B;
}

.footerpic {
  margin-left: 0px;
  width: 100px;
}
.center {
  width: 100%;
  margin-left: 0px;
  margin-right: auto;
  padding: 0px;
  display: inline-block;
  /*flex-direction: row;
  flex-wrap: wrap;*/
}

.biocard {
  width: 278px;
}

.card {
  width: 278px;
}

  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}
/*End of boat time line code*/

.boatgraphic {
  background-color: 
}

.headerimg {
  /*margin: 0;
  position: absolute;
  top: 50%;*/
  padding-top: 5px;
  vertical-align: middle;
  width: 114px;
  height: 45px;
  padding-left: 4px;
}


/*boat animation thing*/
.how-section1{
    margin-top:-15%;
    padding: 10%;
}
.how-section1 h4{
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}
.how-section1 .subheading{
    color: #3931af;
    font-size: 20px;
}
.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 40%;
}

.font {
  font-family: 'Libre Franklin', sans-serif;
}

.fontcaption {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
}

.pageheaders {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  width: 85%;
  margin: auto;
  padding-top: 50px;
}

/*Sponsorship page steps*/
/*@import "compass/css3";*/
/*@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);
*/
.stairs {
  position: relative;
  animation: slide-in 0.5s backwards;
  /*width: 50%;*/
}
.stairs:nth-child(1) {
  animation-delay: 0.2s;
}
.stairs:nth-child(1) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(2) {
  animation-delay: 0.4s;
}
.stairs:nth-child(2) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(3) {
  animation-delay: 0.6s;
}
.stairs:nth-child(3) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(4) {
  animation-delay: 0.8s;
}
.stairs:nth-child(4) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(5) {
  animation-delay: 1s;
}
.stairs:nth-child(5) h2 {
  background: #71f474;
  color: #59c05a;
}
.stairs:nth-child(6) {
  animation-delay: 1.2s;
}
.stairs:nth-child(6) h2 {
  background: #71f48b;
  color: #59c06d;
}
.stairs:nth-child(7) {
  animation-delay: 1.4s;
}
.stairs:nth-child(7) h2 {
  background: #71f4a3;
  color: #59c080;
}
.stairs:nth-child(8) {
  animation-delay: 1.6s;
}
.stairs:nth-child(8) h2 {
  background: #71f4bb;
  color: #59c093;
}
.stairs:nth-child(9) {
  animation-delay: 1.8s;
}
.stairs:nth-child(9) h2 {
  background: #71f4d3;
  color: #59c0a6;
}
.stairs h2 {
  display: inline-block;
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 1em;
  margin-left: -5px;
  transition: 0.4s;
}
.stairs h2 a {
  padding: 1em 0;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
}
.stairs h2:hover {
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px, -11px 11px, -12px 12px, -13px 13px, -14px 14px, -15px 15px;
  transform: translate3d(5px, -5px, 0);
  transition: 0.15s;
}
.stairs h2:active {
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px;
  transform: translate3d(0px, 0px, 0);
  transition: 0.15s;
}
.stairs h3 {
  display: inline-block;
  color: black;
  /*font-style: italic;*/
  font-size: 16px;
  margin-left: 15px;
}
.stairs h3 .category {
  border: 2px solid #b31b1b;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
@keyframes slide-in {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

.sponsorbenefits li{
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
}

.date {
  display: inline-block;
}

.levels {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  min-height: 100%;
  font-size: 15px;
  font-family: 'Libre Franklin', sans-serif;
  /*overflow-x: hidden;*/
  color: black;
}


a.deco-none: {
    color:#000000 !important;
    text-decoration:none;
}

a:hover{
  /*color:white !important;*/
  text-decoration:none;
}


/*Competition panel*/
.accordion {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
}

.accordion ul li {
  display: table-cell;
  /*vertical-align: bottom;*/
  /*position: relative;*/
  width: 20%;
  /*height: 350px;*/
  /*background-repeat: no-repeat;*/
  background-position: center center;
  transition: all 200ms ease-in-out;
}

.accordion ul li .compinsidetext {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li .compinsidetext a {
  display: block;
  height: 300px;
  width: 100%;
  /*position: relative;*/
  /*z-index: 3;*/
  /*vertical-align: bottom;*/
  /*padding: 15px 20px;*/
  box-sizing: border-box;
  color: #fff;
  /*text-shadow: 1px 1px 2px #000;*/
  /*filter: invert(100%);*/
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  transition: all 300ms ease-in-out;
}

.accordion ul li .compinsidetext a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  /*overflow-wrap: normal;*/
  /*position: relative;*/
  /*z-index: 5;*/
  /*white-space: nowrap;*/
  /*overflow: normal;*/
  /*-webkit-transform: translateX(-20px);*/
  /*transform: translateX(-20px);*/
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.accordion ul li .compinsidetext a h2 {
  font-family: 'Libre Franklin', sans-serif;
  /*text-overflow: wrap;*/
  font-size: 18px;
  /*padding-top: 10%;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 2px;*/
  /*top: 160px;*/
}

.accordion ul li .compinsidetext h3 {
  font-family: 'Libre Franklin', sans-serif;
  /*text-overflow: wrap;*/
  font-size: 28.7px;
  padding: 6px;
  /*padding-top: 10%;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 2px;*/
  /*top: 160px;*/
}

.accordion ul li .compinsidetext a p {
  /*top: 160px;*/
  font-size: 18px;
  padding-left: 1em;
  padding-right: 1em;
  word-wrap: normal;
  font-family: 'Libre Franklin', sans-serif;
}

.accordion ul li:nth-child(1) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_studio_portrait_photography_bob_harrington.jpg"); */
  background-color: #b31b1b;
  background-position: 50% 30%;
}

.accordion ul li:nth-child(2) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_cinema_flex_whale_wars_gavin_garrison.jpg"); */
  background-color: #001436;
 background-position: 70% 0%;
}

.accordion ul li:nth-child(3) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_studio_portrait_photography_bob_harrington_bts.jpg"); */
  background-color: #b31b1b;
background-position: 50% 50%;
}

.accordion ul li:nth-child(4) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_travel_rapidbox.jpg"); */
  background-color: #001436;
  background-position: 30% 40%;
}

.accordion ul li:nth-child(5) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_enthusiast_portrait_photography_little_studio_basics_lights.jpg"); */
  background-color: #b31b1b;
  background-position: 60% 64%;
}

.accordion ul li:nth-child(6) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_flex_enthusiast_portrait_photography.jpg"); */
  background-color: #b31b1b;
  background-position: 70% 25%;
}

.accordion ul li { background-size: cover; }
.accordion ul:hover li { width: 18%; }
.accordion ul:hover li:hover { width: 82%; }

/*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 @media screen and (max-width: 680px) {
  
  /*body { margin: 0; }*/
  .accordion { height: auto; }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  .accordion ul li .compinsidetext a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .splash {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
}


/*Timeline for competition events on home page*/
strong {
  font-weight: 600;
}
h1 {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 1.5px;
  color: black;
  font-weight: 100;
  font-size: 2.4em;
}
#content {
  margin-top: 50px;
  text-align: center;
}
/* Timeline */
.timeline {
  border-left: 4px solid #b31b1b;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: white;
  color: black;
  font-family: 'Libre Franklin', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 30px;
  list-style: none;
  text-align: left;
  font-weight: 100;
  width: 60%;
}
.timeline h1,
.timeline h2,
.timeline h3 {
  font-family: 'Libre Franklin', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 100;
  font-size: 1.4em;
}
.timeline .event {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  padding-bottom: 25px;
  margin-bottom: 20px;
  position: relative;
}
.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  left: -217.5px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px #b31b1b;
  left: -57.85px;
  background: white;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}



.wrapper { width: 80%; margin-left: 10%; position: relative; display: inline-block; text-align: center;}
.counter { background-color: #ffffff; padding: 20px 0; border-radius: 5px; display: inline-block;width: 20%; text-align: center;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; }
.count-text { font-size: 16px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center; color: black;}
.fa-2x { margin: 0 auto; float: none; display: table; color: #b31b1b; }
.count-title {
  font-family: 'Libre Franklin', sans-serif !important; 
}

@-webkit-keyframes wrench {
  0% {
    -webkit-transform: rotate(-12deg);
    transform: rotate(-12deg);
  }

  8% {
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
  }

  10% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  18% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  20% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  28% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  30% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  38% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  40% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  48% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  50% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  58% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  60% {
    -webkit-transform: rotate(-24deg);
    transform: rotate(-24deg);
  }

  68% {
    -webkit-transform: rotate(24deg);
    transform: rotate(24deg);
  }

  75% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes wrench {
  80% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.faa-wrench.animated,
.faa-wrench.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-wrench {
  -webkit-animation: wrench 2s ease infinite;
  animation: wrench 2s;
  transform-origin-x: 90%;
  transform-origin-y: 35%;
  transform-origin-z: initial;
}

.sailing1 {
  width: 500px;
  height: 300px;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-right: 50px;
}

.sailing3 {
  width: 500px;
  height: 400px;
  padding-left: 70px;
  padding-top: 10px;
/*  padding-right: 30px;*/
}

.col-lg-12 img {
  margin: auto;
}

.article-caption {
  text-align: center;
}

/*Cover photo home page*/
.splash {
  background: url("../pictures/droneboat1.jpg") no-repeat fixed center;
  background-size: cover;
  color: black;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.splash .container {
  padding-top: 24vh; /* No JS fallback*/
  padding-bottom: 17vh; /* No JS fallback*/
  margin-bottom: 30px;
  margin-top: 80px;
}

.splash h1 {
  font-size: 3em;
  margin-bottom: .15em;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

.splash .lead, .splash .continue {
  display: block;
  text-align: center;
}

.splash .lead {
  font-size: 1.5em;
  margin-bottom: 1em;
  font-family: 'Libre Franklin', sans-serif;
}

.splash .continue {
  font-size: 4em;
  padding-top: 50px;
}

.splash .continue a {
  /*border: 4px solid #fff;
  border-radius: 100%;*/
  color: #fff;
  display: inline-block;
  text-decoration: none;
  width: 80px;
}
.splash .continue a:hover {
  /*background-color: rgba(255, 255, 255, .25);*/
}

.intro .container, .container, .portfolio .container, .contact .container {
  padding: 30px;
}

.intro, .portfolio, .contact {
  text-align: center;
}

.intro {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: 'Libre Franklin', sans-serif;
}

.aboutpara {
  width: 80%;
  margin: auto;
}

.intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
  color: #fff;
}

@media (min-width: 768px) {
  
  .splash {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }

  .splash h1 {
    font-size: 6em;
  }
  
  .splash .lead {
    font-size: 3em;
  }
  
  .features .col-3 {
    /*float: left;*/
    /*margin: 2em 5% 0 0;*/
    /*padding: 0 1em;*/
    /*width: 30%;*/
  }
  
  .features .col-3:last-of-type {
    margin-right: 0;
  }

}

.tiles {
  text-align: center;
  margin: auto;
  padding: 10px;
}
.tiles img {
  padding: 10px;
}