.recruitmentpageheaders {
  font-family: 'Libre Franklin', sans-serif;
  text-align: center;
  width: 85%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.btn {
  border: 2px solid #b31b1b;
  border-radius: 50px 50px 50px 50px;
  background-color: white;
  color: #b31b1b;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin:auto;
}
.danger {
  border-color: #b31b1b;
  color: black;
}

.danger:hover {
  background: #b31b1b;
  color: white;
}

.Dates {
  text-align: center;
  color: #b31b1b;
}

#info-session {
  font-size: 1.7em;
  text-align: left;
}

#info-session a{
  text-align: left;
  color: #b31b1b;
}

#funteampic{
  margin-top: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 1px solid black;
}

.button-format {
  text-align: center;
  padding-top: 5px;
}

.space-below {
  padding-bottom: 30px;
}

.space-below-less {
  padding-bottom: 5px;
}

.recruitment_video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.recruitment_video iframe,
.recruitment_video object,
.recruitment_video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .makered{
  color: #b31b1b;
} */

.recruitment-status{
  margin-top: 6em;
}


/* Custom, iPhone Retina */
@media only screen and (max-width: 767px) {
  html {
    font-family: 'Libre Franklin', sans-serif !important;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
  }
  .container {
    width: 100% !important;
  }

  .navbar-header {
    width: 375px !important;

  }

  .recruitment_video {
    width: 100%;
    overflow: hidden;
  }

  .collapse {
    width: 100%;
  }

  .navbar{
    width: 100%;
  }
}
