/* hide back of pane during swap */
.front, .back {
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 -webkit-transition: 0.6s;
         transition: 0.6s;
 -webkit-transform-style: preserve-3d;
         transform-style: preserve-3d;
 position: absolute;
 top: 0;
 left: 0;
 }

 /*  UPDATED! front pane, placed above back */
.front {
 z-index: 2;
 -webkit-transform: rotateY(0deg);
         transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
 -webkit-transform: rotateY(-180deg);
         transform: rotateY(-180deg);
}

.desktopsubteams{
  margin-top: 1.0em;
  margin-bottom: 1.0em;
}

.who-we-are{
  margin-top: 6em;
  margin-bottom: 2em;
}

#leads{
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

section{
  margin-top: 2em;
}

.sticky {
  position: fixed;
  width: 100%;
  align-content: center;
  padding: 0em !important;
  margin: 0em !important;
  background-color: #f2f2f2 !important;
  z-index:9999;
  top: 50px;
}

.sticky ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sticky ul li{
  padding: 0em;
  width: 9em;
  flex-grow: 1;
}

.sticky ul li:hover{
  background-color: #393939;
}

.sticky ul li a{
  background-color: #f2f2f2;
  font-size: .8em;
  padding-left: 0em;
  padding-right: 0em;
}

.underline{
  text-decoration: underline;
}

div #leads{
  margin-bottom: 10em;
}


@media (min-width: 900px) {
  .mobilesubteam{
    display: none;
  }
}

@media (max-width: 767px)  {
  html{
    scroll-behavior: auto;
  }

  #topnavbar{
    z-index: 100000;
  }

  a:hover{
    text-decoration: underline;
  }

  .mobile-sticky{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f2f2f2 !important;
    z-index:100;
    top: 50px;
  }

  .mobile-sticky li{
    background-color: #f2f2f2 !important;
    border: none;
    flex-grow: 1;
  }

}
