/*body {
  background-color: none;
}*/

.accordion {
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0px auto;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
}

.accordion ul li {
  display: table-cell;
  /*vertical-align: bottom;*/
  /*position: relative;*/
  width: 20%;
  /*height: 350px;*/
  /*background-repeat: no-repeat;*/
  background-position: center center;
  transition: all 600ms ease-in-out;
}

.accordion ul li .compinsidetext {
  display: block;
  overflow: hidden;
  width: 100%;
}

.accordion ul li .compinsidetext a {
  display: block;
  height: 350px;
  width: 100%;
  /*position: relative;*/
  /*z-index: 3;*/
  /*vertical-align: bottom;*/
  /*padding: 15px 20px;*/
  box-sizing: border-box;
  color: #fff;
  /*text-shadow: 1px 1px 2px #000;*/
  /*filter: invert(100%);*/
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  transition: all 300ms ease-in-out;
}

.accordion ul li .compinsidetext a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  /*overflow-wrap: normal;*/
  /*position: relative;*/
  /*z-index: 5;*/
  /*white-space: nowrap;*/
  /*overflow: normal;*/
  /*-webkit-transform: translateX(-20px);*/
  /*transform: translateX(-20px);*/
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.accordion ul li .compinsidetext a h2 {
  font-family: 'Libre Franklin', sans-serif;
  /*text-overflow: wrap;*/
  font-size: 18px;
  /*padding-top: 10%;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 2px;*/
  /*top: 160px;*/
}

.accordion ul li .compinsidetext h3 {
  font-family: 'Libre Franklin', sans-serif;
  /*text-overflow: wrap;*/
  font-size: 28.7px;
  padding: 6px;
  /*padding-top: 10%;*/
  /*text-transform: uppercase;*/
  /*margin-bottom: 2px;*/
  /*top: 160px;*/
}

.accordion ul li .compinsidetext a p {
  /*top: 160px;*/
  font-size: 18px;
  padding-left: 1em;
}

.accordion ul li:nth-child(1) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_studio_portrait_photography_bob_harrington.jpg"); */
  background-color: #b31b1b;
  background-position: 50% 30%;
}

.accordion ul li:nth-child(2) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_cinema_flex_whale_wars_gavin_garrison.jpg"); */
  background-color: #001436;
 background-position: 70% 0%;
}

.accordion ul li:nth-child(3) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_studio_portrait_photography_bob_harrington_bts.jpg"); */
  background-color: #b31b1b;
background-position: 50% 50%;
}

.accordion ul li:nth-child(4) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_travel_rapidbox.jpg"); */
  background-color: #001436;
  background-position: 30% 40%;
}

.accordion ul li:nth-child(5) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_enthusiast_portrait_photography_little_studio_basics_lights.jpg"); */
  background-color: #b31b1b;
  background-position: 60% 64%;
}

.accordion ul li:nth-child(6) { 
  /*background-image: url("http://dev.fjwestcott.com/media/wysiwyg/home/home_ind_flex_enthusiast_portrait_photography.jpg"); */
  background-color: #b31b1b;
  background-position: 70% 25%;
}

.accordion ul li { background-size: cover; }
.accordion ul:hover li { width: 15%; }
.accordion ul:hover li:hover { width: 85%; }

/*.accordion ul:hover li:hover a { background: rgba(0, 0, 0, 0.4); }*/

.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
 @media screen and (max-width: 680px) {
  
  /*body { margin: 0; }*/
  .accordion { height: auto; }

  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
  .accordion ul li .compinsidetext a * {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
