@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400);
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html, body {
  min-height: 100%;
}
body {
  font-size: 15px;
  /*font-family: 'Source Code Pro', sans-serif;*/
  font-family: 'Libre Franklin', sans-serif;
  overflow-x: hidden;
  color: black;
}

.stairs {
  position: relative;
  animation: slide-in 0.5s backwards;
}
.stairs:nth-child(1) {
  animation-delay: 0.2s;
}
.stairs:nth-child(1) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(2) {
  animation-delay: 0.4s;
}
.stairs:nth-child(2) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(3) {
  animation-delay: 0.6s;
}
.stairs:nth-child(3) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(4) {
  animation-delay: 0.8s;
}
.stairs:nth-child(4) h2 {
  background: #b31b1b;
  color: #001436;
}
.stairs:nth-child(5) {
  animation-delay: 1s;
}
.stairs:nth-child(5) h2 {
  background: #71f474;
  color: #59c05a;
}
.stairs:nth-child(6) {
  animation-delay: 1.2s;
}
.stairs:nth-child(6) h2 {
  background: #71f48b;
  color: #59c06d;
}
.stairs:nth-child(7) {
  animation-delay: 1.4s;
}
.stairs:nth-child(7) h2 {
  background: #71f4a3;
  color: #59c080;
}
.stairs:nth-child(8) {
  animation-delay: 1.6s;
}
.stairs:nth-child(8) h2 {
  background: #71f4bb;
  color: #59c093;
}
.stairs:nth-child(9) {
  animation-delay: 1.8s;
}
.stairs:nth-child(9) h2 {
  background: #71f4d3;
  color: #59c0a6;
}
.stairs h2 {
  display: inline-block;
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 1em;
  margin-left: -5px;
  transition: 0.4s;
}
.stairs h2 a {
  padding: 1em 0;
  display: inline-block;
  color: black;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
}
.stairs h2:hover {
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px, -11px 11px, -12px 12px, -13px 13px, -14px 14px, -15px 15px;
  transform: translate3d(5px, -5px, 0);
  transition: 0.15s;
}
.stairs h2:active {
  box-shadow: -1px 1px, -2px 2px, -3px 3px, -4px 4px, -5px 5px, -6px 6px, -7px 7px, -8px 8px, -9px 9px, -10px 10px;
  transform: translate3d(0px, 0px, 0);
  transition: 0.15s;
}
.stairs h3 {
  display: inline-block;
  color: black;
  /*font-style: italic;*/
  font-size: 16px;
  margin-left: 15px;
}
.stairs h3 .category {
  border: 2px solid #b31b1b;
  padding: 10px;
  border-radius: 15px;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
}
@keyframes slide-in {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

.sponsorbenefits li{
  display: inline-block;
  font-family: 'Libre Franklin', sans-serif;
}

.date {
  display: inline-block;
}

.levels {
  width: 100%;
}


a.deco-none: {
    color:#000000 !important;
    text-decoration:none;
}

a:hover{
  color:black !important;
  text-decoration:none;
}


